*.ipynb_checkpoints/
data/SGNex*
data/*.csv
data/*.json
data/*.json.gz
data/sg-nex-data/*
!data/test_data.json
model/*
*.joblib
!model/rf_classifier.joblib.gz
!model/selector.joblib.gz
output/*.csv
output/*.json
